.logo-content img {
    border: solid 0px lightslategrey;
}
.logo-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0px solid rgb(178, 196, 214);
    width: 80%;
    cursor: pointer;
}
.header{
    height: 50px;
    padding: 10px;
    padding-left: 200px;
    background-color: rgba(236, 226, 212, 0.281);

}
body{
    width: 80%;
    margin: auto;
}
.main-content{
    display: flex;
    flex-direction: column;
    min-height: calc(100px-80px);
    background-color: #f7f7f7;
    padding: 10px 0px 0px;
    box-sizing: border-box;
}

.person-detail-text{
    font: normal normal bold 20px/20px Roboto;
    letter-spacing: 0px;
    color: #0766be;
    padding-top: 10px;
    opacity: 1;        
}
.addButton{
    font: normal normal normal 15px/25px Roboto;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    margin-right: 100px;
    background: #0766be 0% 0% no-repeat ;
    border: #0766be;
    border-radius: 5px;
    padding: 5px 18px;
    outline: none;
    float: right;
    text-decoration:none ;
}
.header-content{
    flex-flow: row;
}
.table-main {
    width: 80%;
    margin: 0 auto;
    overflow: auto;
}

.table {
    width: 100%;
    min-width: 800px;
    border-collapse: separate;
    border-spacing: 0 15px;
}
th {
    border-radius: 3px 3px 3px 0px;
    text-align: left;
    font: normal normal bold 15px/24px Roboto;
    letter-spacing: 0px;
    color: #020101;
    text-transform: uppercase;
    opacity: 1;
    text-shadow: 0px 1px  #0766be;
    padding: 10px;
    border: 0px solid #df3131;
}
td {
    font: normal normal normal 14px/21px Roboto;
    letter-spacing: 0px;
    color: #221313;
    opacity: 1;
    padding: 10px;
    background-color: rgba(247, 245, 245, 0.438);
}
tr:hover{
    background-color: rgb(145, 197, 240);
    border-radius: 3px 3px 3px 0px;
}
td img {
    cursor: pointer;
}